<!--
    <div class="row">
        <div class="col-md-12" >    
        -->
<div *ngIf="transferido">
    Transfiriendo..
    <div class="loader">Loading...</div>
</div>


<div *ngIf="tienePermisoView">


    <div *ngIf="!panelPermisosSelected">



        <ul *ngIf="!panelEditarSelected" class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#buscarCatalogoCompra">
                    <i class="fa fa-search fa-fw ic-dfa"></i>Buscar</a>
            </li>
            <li *ngIf="!buttonSelectedActivated" >
                <a data-toggle="tab" href="#nuevoCatalogoCompra">
                    <i class="fa fa-plus fa-fw ic-dfa"></i>Nuevo</a>
            </li>
        </ul>
        <div *ngIf="!panelEditarSelected" class="tab-content">
            <div id="buscarCatalogoCompra" class="tab-pane fade in active">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Busqueda de Productos en Catalogo Compras</h3>
                    </div>
                    <div class="panel-body">



                

                            <div class="col-md-12 col-xd-2">

                                <div class="col-md-12 col-xd-2">
                                    <div class="form-group">
                                        <label>Buscar Por rangos: </label>
                                        <input type="checkbox" [(ngModel)]="busquedaMarcadaChecked" name="chBusquedaRangos" (click)="limpiarBusquedaRangos()">
                                    </div>
                                </div>


                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Id Producto: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="text" [(ngModel)]="idProductoSelected"
                                            name="txtIdProducto">
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Tipo Producto: </label>
                                        <select class="form-control" required [(ngModel)]="tipoProSelected" name="cbTipoProducto">
                                            <option *ngFor="let tipro of tipos_producto; let i = index" [ngValue]="tipro">{{tipro.nombre}} </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Unidad Medida: </label>
                                        <select class="form-control" required [(ngModel)]="uniMediSelected" name="cbUniMedida">
                                            <option *ngFor="let uni of unidades_medida; let i = index" [ngValue]="uni">{{uni.nombre}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Aplicacion: </label>
                                        <select class="form-control" required [(ngModel)]="apliSelected" name="cbAplicaciones">
                                            <option *ngFor="let a of aplicaciones; let i = index" [ngValue]="a">{{a.nombre}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xd-2">
                                    <div class="form-group">
                                        <label>Nombre: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="" type="text" [(ngModel)]="nombreSelected"
                                            name="txtNombre">
                                    </div>
                                </div>

                                <div *ngIf="!busquedaMarcadaChecked" class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida A: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaA"
                                            name="txtMedidaA">
                                    </div>
                                </div>
                                <div *ngIf="!busquedaMarcadaChecked" class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida B: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaB"
                                            name="txtMedidaB">
                                    </div>
                                </div>

                                <div *ngIf="!busquedaMarcadaChecked" class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida C: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaC"
                                            name="txtMedidaC">
                                    </div>
                                </div>

                                <div *ngIf="!busquedaMarcadaChecked" class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida D: </label>
                                        <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaD"
                                            name="txtMedidaD">
                                    </div>
                                </div>


                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Precio: </label>
                                        <input class="form-control" required placeholder="23" type="number" [(ngModel)]="precioSelected" name="txtPrecio">
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Tipo Moneda: </label>
                                        <select class="form-control" required [(ngModel)]="tipoMonedaSelected" name="cbTipoMoneda">
                                            <option *ngFor="let ti of tiposMoneda; let i = index" [ngValue]="ti">{{ti.nombre}} </option>
                                        </select>
                                    </div>
                                </div>



                            </div>



                            <div *ngIf="busquedaMarcadaChecked" class="col-md-12 col-xd-2">
                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <label>Medida</label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>mayor o igual : </label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>menor o igual : </label>
                                    </div>
                                </div>


                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <label>A:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaA_mayor"
                                                name="txtMedidaAmayor">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaA_menor"
                                                name="txtMedidaAmenor">
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div *ngIf="busquedaMarcadaChecked" class="col-md-12 col-xd-2">
                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <label>Medida</label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>mayor o igual : </label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>menor o igual : </label>
                                    </div>
                                </div>


                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <label>B:</label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaB_mayor"
                                                name="txtMedidaBmayor">
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaB_menor"
                                                name="txtMedidaBmenor">
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div *ngIf="busquedaMarcadaChecked" class="col-md-12 col-xd-2">
                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <label>Medida</label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>mayor o igual : </label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>menor o igual : </label>
                                    </div>
                                </div>


                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <label>C:</label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaC_mayor"
                                                name="txtMedidaCmayor">
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaC_menor"
                                                name="txtMedidaCmenor">
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div *ngIf="busquedaMarcadaChecked" class="col-md-12 col-xd-2">
                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <label>Medida</label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>mayor o igual : </label>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <label>menor o igual : </label>
                                    </div>
                                </div>


                                <div class="col-md-12 col-xd-2">
                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <label>D:</label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaD_mayor"
                                                name="txtMedidaDmayor">
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-xd-2">
                                        <div class="form-group">
                                            <input (keypress)="teclaEnter($event)" class="form-control" required placeholder="23" type="number" [(ngModel)]="medidaD_menor"
                                                name="txtMedidaDmenor">
                                        </div>
                                    </div>


                                </div>

                            </div>


                            <div class="col-md-12 col-xd-2">

                                <div class="col-md-2">
                                    <label> Accion</label>
                                    <button (click)="buscar()" class="btn btn-primary btn-block">
                                        <i class="fa fa-search fa-fw ic-dfa"></i>Ejecutar</button>
                                </div>

                                <div class="col-md-2">
                                    <label> Accion</label>
                                    <button (click)="limpiar()" class="btn btn-primary btn-block">
                                        <i class="fa fa-paint-brush fa-fw ic-dfa"></i>Limpiar</button>
                                </div>

                            </div>

        

                    </div>
                </div>


            </div>


            <div  id="nuevoCatalogoCompra" class="tab-pane fade ">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registro de Productos en Catalogo Compras</h3>
                    </div>
                    <div class="panel-body">
                

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button (click)="abrirModalProducto()" class="btn btn-primary btn-block">
                                        <i class="fa fa-search fa-fw ic-dfa"></i>
                                        <i class="fa fa-wrench fa-fw ic-dfa"></i>Buscar Producto Registrado </button>
                                </div>
                            </div>

               

                        <div *ngIf="panelRegistroSelected">

                            <!--<td>
                                                <a href="javascript:void(0);" (click)="mostrarImagen(pro)">
                                                    <img class="img-responsive logo-img-menu" src="{{beanSelectedExterno.ruta_imagen}}" />
                                                </a>
                                            </td>

                                        -->
                            <div class="col-md-12 col-xd-2">

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Id Producto: </label>
                                        <span class="form-control"> {{beanSelectedExterno.id_producto}}</span>

                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Nombres: </label>
                                        <span class="form-control">{{beanSelectedExterno.nombre}}</span>

                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Tipo Producto: </label>
                                        <span class="form-control">{{beanSelectedExterno.nombre_tipo_producto}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Unidad Medida: </label>
                                        <span class="form-control">{{beanSelectedExterno.nombre_unidad_medida}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Aplicacion: </label>
                                        <span class="form-control">{{beanSelectedExterno.nombre_aplicacion}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida A: </label>
                                        <span class="form-control">{{beanSelectedExterno.medida_a}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida B: </label>
                                        <span class="form-control">{{beanSelectedExterno.medida_b}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida C: </label>
                                        <span class="form-control">{{beanSelectedExterno.medida_c}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Medida D: </label>
                                        <span class="form-control">{{beanSelectedExterno.medida_d}}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xd-2">
                                    <div class="form-group">
                                        <label>Descripcion: </label>
                                        <span class="form-control">{{beanSelectedExterno.descripcion}}</span>
                                    </div>
                                </div>


                                <div class="col-md-6 col-xd-2">
                                    <div class="form-group">
                                        <label>Proveedor: </label>
                                        <div class="input-group">
                                            <label class="form-control">
                                                <span *ngIf="proveedorSelected!=null">{{proveedorSelected.nombre}}</span>
                                            </label>
                                            <span class="input-group-btn">
                                                <button (click)="abrirModalProveedor()" class="btn btn-primary btn-block">
                                                    <i class="fa fa-search fa-fw ic-dfa"></i>
                                                    <i class="fa fa-truck fa-fw ic-dfa"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Precio: </label>
                                        <input class="form-control" required placeholder="23" type="number" [(ngModel)]="precioSelected" name="txtPrecio">
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Tipo Moneda: </label>
                                        <select class="form-control" required [(ngModel)]="tipoMonedaSelected" name="cbTipoMoneda">
                                            <option *ngFor="let ti of tiposMoneda; let i = index" [ngValue]="ti">{{ti.nombre}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Local: </label>
                                        <select class="form-control" required [(ngModel)]="localSelected" name="cbLocales"  (ngModelChange)="mostrarAlmacen()">
                                            <option *ngFor="let lo of locales; let i = index" [ngValue]="lo">{{lo.nombre}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 col-xd-2">
                                    <div class="form-group">
                                        <label>Almacen: </label>
                                        <select class="form-control" required [(ngModel)]="almacenSelected" name="cbAlmacenes" >
                                            <option *ngFor="let al of almacenes; let i = index" [ngValue]="al">{{al.nombre}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="col-md-2">
                                    <label> Accion</label>
                                    <button (click)="registrar()" class="btn btn-primary btn-block">
                                        <i class="fa fa-save fa-fw ic-dfa"></i>Guardar</button>
                                </div>

                                <div class="col-md-2">
                                        <label> Accion</label>
                                        <button (click)="limpiar()" class="btn btn-primary btn-block">
                                            <i class="fa fa-paint-brush fa-fw ic-dfa"></i>Limpiar</button>
                                    </div>
                            </div>



                        </div>
                    </div>
                </div>



            </div>

        </div>






        <div *ngIf="panelEditarSelected" class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Editar Producto en Catalogo Compras</h3>

            </div>
            <div class="panel-body">

         

                    <div class="col-md-2">
                        <button (click)="regresar()" class="btn btn-primary btn-block">
                            <i class="fa fa-reply fa-fw ic-dfa"></i>Regresar
                        </button>
                    </div>


                    <div class="col-md-12 col-xd-2">
                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Id Producto: </label>
                                <span class="form-control"> {{beanSelectedExterno.id_producto}}</span>

                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Nombres: </label>
                                <span class="form-control">{{beanSelectedExterno.nombre}}</span>

                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Tipo Producto: </label>
                                <span class="form-control">{{beanSelectedExterno.nombre_tipo_producto}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Unidad Medida: </label>
                                <span class="form-control">{{beanSelectedExterno.nombre_unidad_medida}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Aplicacion: </label>
                                <span class="form-control">{{beanSelectedExterno.nombre_aplicacion}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Medida A: </label>
                                <span class="form-control">{{beanSelectedExterno.medida_a}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Medida B: </label>
                                <span class="form-control">{{beanSelectedExterno.medida_b}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Medida C: </label>
                                <span class="form-control">{{beanSelectedExterno.medida_c}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Medida D: </label>
                                <span class="form-control">{{beanSelectedExterno.medida_d}}</span>
                            </div>
                        </div>

                        <div *ngIf="beanSelectedExterno!=null" class="col-md-3 col-xd-2">
                            <div class="form-group">
                                <label>Descripcion: </label>
                                <span class="form-control">{{beanSelectedExterno.descripcion}}</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button (click)="abrirModalProducto()" class="btn btn-primary btn-block">
                                <i class="fa fa-search fa-fw ic-dfa"></i>
                                <i class="fa fa-wrench fa-fw ic-dfa"></i>Cambiar Producto Registrado </button>
                        </div>

                        <div class="col-md-6 col-xd-2">
                            <div class="form-group">
                                <label>Proveedor: </label>
                                <div class="input-group">
                                    <label class="form-control">
                                        <span *ngIf="proveedorSelected!=null">{{proveedorSelected.nombre}}</span>
                                    </label>
                                    <span class="input-group-btn">
                                        <button (click)="abrirModalProveedor()" class="btn btn-primary btn-block">
                                            <i class="fa fa-search fa-fw ic-dfa"></i>
                                            <i class="fa fa-truck fa-fw ic-dfa"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-2 col-xd-2">
                            <div class="form-group">
                                <label>Precio: </label>
                                <input class="form-control" required placeholder="23" type="number" [(ngModel)]="precioSelected" name="txtPrecio">
                            </div>
                        </div>

                        <div class="col-md-2 col-xd-2">
                            <div class="form-group">
                                <label>Tipo Moneda: </label>
                                <select class="form-control" required [(ngModel)]="tipoMonedaSelected" name="cbTipoMoneda">
                                    <option *ngFor="let ti of tiposMoneda; let i = index" [ngValue]="ti">{{ti.nombre}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xd-2">
                        <div class="col-md-4 col-xd-2">
                            <div class="form-group">
                                <label>Imagen Actual:</label>
                                <img *ngIf="beanSelected!=null" class="img-responsive" src="{{beanSelected.ruta_imagen}}" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <label> Accion</label>
                        <button (click)="editar()" class="btn btn-primary btn-block">
                            <i class="fa fa-save fa-fw ic-dfa"></i>Editar</button>
                    </div>

          

            </div>
        </div>




        <div *ngIf="panelListaBeanSelected" class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lista de Productos en Catalogo Compras</h3>
            </div>
            <div class="panel-body">

          



                    <div class="row">

                        <div class="col-md-12">


                            <div class="row bg-teal tabla-cabecera-botones">
                                <div class="col-md-12">
                                    <h5>EXISTEN :{{totalLista}} EN TOTAL</h5>
                                </div>
                                <div class="col-md-2">
                                    <button (click)="paginaAnterior()" class="btn btn-primary btn-block">
                                        <i class="fa fa-backward fa-fw ic-dfa"></i>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label>Del {{inicio}} al {{fin}}</label>
                                </div>

                                <div class="col-md-2">
                                    <button (click)="paginaSiguiente()" class="btn btn-primary btn-block">
                                        <i class="fa fa-forward fa-fw ic-dfa"></i>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-5">
                                        <label> Tamaño Pagina</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="txtTamPagina" class="form-control" [(ngModel)]="tamPagina">
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="15">15</option>
                                            <option [ngValue]="20">20</option>
                                            <option [ngValue]="30">30</option>
                                            <option [ngValue]="100">100</option>
                                            <option [ngValue]="500">500</option>
                                            <option [ngValue]="1000">1000</option>
                                        </select>
                                    </div>

                                </div>
                            </div>


                            <div class=" table-responsive tabla-dfa">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="bg-teal tam-cabecera">
                                            <th>N°</th>
                                            <th *ngIf="buttonSelectedActivated" >ACCION</th>
                                            <th *ngIf="buttonEliminarActivated" >ACCION</th>
                                            <th *ngIf="buttonEditarActivated"> ACCION</th>
                                            <th>ID CATALOGO COMPRA</th>
                                            <th>ID PRODUCTO</th>
                                            <th>NOMBRE</th>
                                            <th>PRECIO</th>
                                            <th>TIPO MONEDA</th>
                                            <th>TIPO PRODUCTO</th>
                                            <th>UNIDAD MEDIDA</th>
                                            <th>PROVEEDOR</th>
                                            <th>APLICACION</th>
                                            <th>ALMACEN</th>
                                            <th>LOCAL</th>
                                            <th>IMAGEN</th>
                                            <th>MEDIDA A</th>
                                            <th>MEDIDA B</th>
                                            <th>MEDIDA C</th>
                                            <th>MEDIDA D</th>
                                            <th>DESCRIPCION</th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                        <tr *ngFor="let pro of listaProductos;let j = index" class="bg-cyan tam-cuerpo">
                                            <td>{{inicio+j}}</td>
                                            <td *ngIf="buttonSelectedActivated">
                                                <button (click)="seleccionar(pro)" class="btn btn-primary btn-block">
                                                    <i class="fa fa-hand-o-up fa-fw ic-dfa"></i>Select.
                                                </button>
                                            </td>
                                            <td *ngIf="buttonEliminarActivated">
                                                <button (click)="eliminar(pro)" class="btn btn-primary btn-block">
                                                    <i class="fa fa-trash fa-fw ic-dfa"></i>Eliminar
                                                </button>
                                            </td>
                                            <td *ngIf="buttonEditarActivated">
                                                <button (click)="abrirPanelEditar(pro)" class="btn btn-primary btn-block">
                                                    <i class="fa fa-plus-square fa-fw ic-dfa"></i>Editar
                                                </button>
                                            </td>
                                            <td>{{pro.id_catalogo_compra}}</td>
                                            <td>{{pro.id_producto}}</td>
                                            <td>{{pro.nombre}}</td>
                                            <td>{{pro.nombre_simbolo_moneda}}{{pro.precio}}</td>
                                            <td>{{pro.nombre_tipo_moneda}}</td>
                                            <td>{{pro.nombre_tipo_producto}}</td>
                                            <td>{{pro.nombre_unidad_medida}}</td>
                                            <td>{{pro.nombre_proveedor}}</td>
                                            <td>{{pro.nombre_aplicacion}}</td>
                                            <td>{{pro.nombre_almacen}}</td>
                                            <td>{{pro.nombre_local}}</td>
                                            <td>
                                                <a href="javascript:void(0);" (click)="mostrarImagen(pro)">
                                                    <img class="img-responsive logo-img-menu" src="{{pro.ruta_imagen}}" />
                                                </a>
                                            </td>
                                            <td>{{pro.medida_a}}</td>
                                            <td>{{pro.medida_b}}</td>
                                            <td>{{pro.medida_c}}</td>
                                            <td>{{pro.medida_d}}</td>
                                            <td>{{pro.descripcion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

         

            </div>
        </div>


    </div>

</div>




<button id="modalImagenProducto" hidden="hidden" data-toggle="modal" data-target="#modalImagenProductoPnl"></button>
<div class="modal fade" id="modalImagenProductoPnl">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <button  class="close" area-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <label *ngIf="beanSelected!=null">IMAGEN DEL PRODUCTO: {{beanSelected.nombre}}</label>
                </h4>
            </div>

            <div class="modal-body">
                <img *ngIf="beanSelected!=null" class="img-grande" src="{{beanSelected.ruta_imagen}}" />
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<button id="modalProducto" hidden="hidden" data-toggle="modal" data-target="#modalProductoPnl"></button>
<div class="modal fade" id="modalProductoPnl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" area-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <label>DATOS PRODUCTO</label>
                </h4>
            </div>

            <div class="modal-body">


                <form-producto [buttonSelected]="activatedSelectedPro" (productoSeleccionado)="obtenerDatosExternos($event)">
                </form-producto>

            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" data-dismiss="modal">Cancelar</button>-->
                <!--(click)="activarBuscar($event)"-->
            </div>
        </div>
    </div>
</div>



<button id="modalProveedor" hidden="hidden" data-toggle="modal" data-target="#modalProveedorPnl"></button>
<div class="modal fade" id="modalProveedorPnl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" area-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <label>DATOS PROVEEDOR</label>
                </h4>
            </div>

            <div class="modal-body">

                <!--<form-proveedor [buttonSelected]="activatedSelectedProve" (proveedorSeleccionado)="obtenerProveedorDatosExternos($event)">
                </form-proveedor>
                -->

                <form-find-proveedor  (proveedorSeleccionado)="obtenerProveedorDatosExternos($event)">
                    </form-find-proveedor>

            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" data-dismiss="modal">Cancelar</button>-->
                <!--(click)="activarBuscar($event)"-->
            </div>
        </div>
    </div>
</div>