<!--
    <div class="row">
        <div class="col-md-12" >    
        -->
<div *ngIf="transferido">
    Transfiriendo..
    <div class="loader">Loading...</div>
</div>



<div *ngIf="tienePermisoView">


    <div *ngIf="!panelPermisosSelected">



        <ul *ngIf="!panelEditarSelected" class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#buscarLibroVentas">
                    <i class="fa fa-search fa-fw ic-dfa"></i>Buscar</a>
            </li>
            <li>
                <a data-toggle="tab" href="#nuevoLibroVentas">
                    <i class="fa fa-plus fa-fw ic-dfa"></i>Nuevo</a>
            </li>

        </ul>
        <div *ngIf="!panelEditarSelected" class="tab-content">

            <div id="buscarLibroVentas" class="tab-pane fade in active">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Busqueda en Libro de Ventas</h3>
                    </div>
                    <div class="panel-body">





                        <div class="col-md-12 col-xd-2">

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Titulo: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.titulo"
                                        name="txtTitulo">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Periodo: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.periodo"
                                        name="txtPeriodo">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Periodo Fecha: </label>
                                    <input class="form-control" required placeholder="" type="date" [(ngModel)]="libroVentaSelected.periodo_fecha"
                                        name="txtPeriodoFecha">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Ruc: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.ruc"
                                        name="txtRuc">

                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Razon Social: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.razon_social"
                                        name="txtRazonSocial">

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 col-xd-12">
<!--
                            <div class="col-md-2">
                                <label> Accion</label>
                                <button (click)="generarReporteLibro()" class="btn btn-primary btn-block">
                                    <i class="fa fa-file-excel-o fa-fw ic-dfa"></i>Reporte</button>
                            </div>-->


                            <div class="col-md-2">
                                <label> Accion</label>
                                <button (click)="buscar()" class="btn btn-primary btn-block">
                                    <i class="fa fa-search fa-fw ic-dfa"></i>Buscar</button>
                            </div>

                            <div class="col-md-2">
                                <label> Accion</label>
                                <button (click)="limpiar()" class="btn btn-primary btn-block">
                                    <i class="fa fa-paint-brush fa-fw ic-dfa"></i>Limpiar</button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div id="nuevoLibroVentas" class="tab-pane fade ">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registro de Libro de Ventas</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12 col-xd-12">

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Titulo: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.titulo"
                                        name="txtTitulo">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Periodo: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.periodo"
                                        name="txtPeriodo">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Periodo Fecha: </label>
                                    <input class="form-control" required placeholder="" type="date" [(ngModel)]="libroVentaSelected.periodo_fecha"
                                        name="txtPeriodoFecha">
                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Ruc: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.ruc"
                                        name="txtRuc">

                                </div>
                            </div>

                            <div class="col-md-5 col-xd-2">
                                <div class="form-group">
                                    <label>Razon Social: </label>
                                    <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.razon_social"
                                        name="txtRazonSocial">

                                </div>
                            </div>
                        </div>




                        <div class="col-md-12 col-xd-12">
                            <div class="col-md-2">
                                <label> Accion</label>
                                <button (click)="registrar()" class="btn btn-primary btn-block">
                                    <i class="fa fa-save fa-fw ic-dfa"></i>Guardar</button>
                            </div>

                            <div class="col-md-2">
                                <label> Accion</label>
                                <button (click)="limpiar()" class="btn btn-primary btn-block">
                                    <i class="fa fa-paint-brush fa-fw ic-dfa"></i>Limpiar</button>
                            </div>

                        </div>



                    </div>
                </div>

            </div>
        </div>








        <div *ngIf="panelEditarSelected" class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Editar Libro Venta</h3>

            </div>
            <div class="panel-body">

                <div class="col-md-12 col-xd-12">

                    <div class="col-md-2">
                        <label> Accion</label>
                        <button (click)="regresar()" class="btn btn-primary btn-block">
                            <i class="fa fa-reply fa-fw ic-dfa"></i>Regresar
                        </button>
                    </div>

                    <div class="col-md-2">
                        <label> Accion</label>
                        <button (click)="editar()" class="btn btn-primary btn-block">
                            <i class="fa fa-save fa-fw ic-dfa"></i>Editar</button>
                    </div>
                </div>


                <div *ngIf="libroVentaSelected!=null" class="col-md-12 col-xd-12">

                    <div class="col-md-5 col-xd-2">
                        <div class="form-group">
                            <label>Titulo: </label>
                            <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.titulo"
                                name="txtTitulo">
                        </div>
                    </div>

                    <div class="col-md-5 col-xd-2">
                        <div class="form-group">
                            <label>Periodo: </label>
                            <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.periodo"
                                name="txtPeriodo">
                        </div>
                    </div>

                    <div class="col-md-5 col-xd-2">
                        <div class="form-group">
                            <label>Periodo Fecha: </label>
                            <input class="form-control" required placeholder="" type="date" [(ngModel)]="libroVentaSelected.periodo_fecha"
                                name="txtPeriodoFecha">
                        </div>
                    </div>

                    <div class="col-md-5 col-xd-2">
                        <div class="form-group">
                            <label>Ruc: </label>
                            <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.ruc"
                                name="txtRuc">

                        </div>
                    </div>

                    <div class="col-md-5 col-xd-2">
                        <div class="form-group">
                            <label>Razon Social: </label>
                            <input class="form-control" required placeholder="" type="text" [(ngModel)]="libroVentaSelected.razon_social"
                                name="txtRazonSocial">

                        </div>
                    </div>
                </div>

            </div>


            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle Libro Venta </h3>
                </div>
                <div class="panel-body">

                    <div class="row bg-teal tabla-cabecera-botones">

                        <div class="col-md-2 col-xd-2">
                            <div class="form-group">
                                <label>Cantidad Celdas: </label>
                                <input class="form-control" required placeholder="23" type="text" [(ngModel)]="cantidadCeldas"
                                    name="txtCantidadCeldas">
                            </div>
                        </div>

                        <div class="col-md-2 col-xd-2">
                            <div class="form-group">
                                <label>Accion: </label>
                                <button (click)="agregarFilaLibroCompra(cantidadCeldas);" class="btn btn-primary btn-block">
                                    <i class="fa fa-plus fa-fw ic-dfa"></i>Agregar Filas
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class=" table-responsive tabla-dfa">

                        <table id="tabla-productos" class="table table-condensed tabla-libros-contable">
                            <thead>
                                <tr class="bg-teal tam-cabecera">
                                    <th rowspan="3">ACCION</th>
                                    <th rowspan="3">NÚMERO CORRELATIVO DEL REGISTRO O CÓDIGO UNICO DE LA OPERACIÓN</th>
                                    <th rowspan="3">FECHA DE EMISIÓN DEL COMPROBANTE DE PAGO O DOCUMENTO</th>
                                    <th rowspan="3">FECHA DE VENCIMIENTO O FECHA DE PAGO (1)</th>
                                    <th colspan="3">COMPROBANTE DE PAGO O DOCUMENTO</th>
                                    <th colspan="3">INFORMACIÓN DEL CLIENTE</th>
                                    <th rowspan="3">VALOR FACTURADO DE LA EXPORTACIÓN</th>
                                    <th rowspan="3">BASE IMPONIBLE DE LA OPERACIÓN GRAVADA </th>
                                    <th colspan="2"> IMPORTE TOTAL DE LA OPERACIÓN EXONERADA O INAFECTA </th>
                                    <th rowspan="3">ISC</th>
                                    <th rowspan="3">IGV Y/O IPM</th>
                                    <th rowspan="3">OTROS TRIBUTOS Y CARGOS QUE NO FORMAN PARTE DE LA BASE IMPONIBLE</th>
                                    <th rowspan="3">IMPORTE TOTAL DEL COMPROBANTE DE PAGO</th>
                                    <th rowspan="3">TIPO DE CAMBIO</th>
                                    <th colspan="4">
                                        REFERENCIA DEL COMPROBANTE DE PAGO
                                        O DOCUMENTO ORIGINAL QUE SE MODIFICA
                                    </th>


                                </tr>
                                <tr class="bg-teal tam-cabecera">
                                    <th rowspan="2">TIPO (TABLA 10)</th>
                                    <th rowspan="2">N° SERIE O N° DE SERIE DE LA MAQUINA REGISTRADORA</th>
                                    <th rowspan="2">NÚMERO</th>
                                    <th colspan="2">DOCUMENTO DE IDENTIDAD</th>
                                    <th rowspan="2">APELLIDOS Y NOMBRES, DENOMINACIÓN O RAZÓN SOCIAL</th>

                                    <th rowspan="2">EXONERADA</th>
                                    <th rowspan="2">INAFECTA</th>
                                    <th rowspan="2">FECHA</th>
                                    <th rowspan="2">TIPO(TABLA 10)</th>
                                    <th rowspan="2">SERIE</th>
                                    <th rowspan="2">N° DEL COMPROBANTE DE PAGO O DOCUMENTO </th>
                                </tr>
                                <tr class="bg-teal tam-cabecera">
                                    <th>TIPO (TABLA 2)</th>
                                    <th>NÚMERO</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let de of lista_detalle_libro;let j = index" class="bg-cyan tam-cuerpo">
                                    <td>
                                        <button (click)="eliminarItem(j)" class="btn btn-primary btn-block">
                                            <i class="fa fa-trash fa-fw ic-dfa"></i>
                                        </button>
                                    </td>

                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.correlativo">
                                    </td>
                                    <td>
                                        <input class="" required type="date" [(ngModel)]="de.fecha_emision_comprobante">
                                    </td>
                                    <td>
                                        <input class="" required type="date" [(ngModel)]="de.fecha_vencimiento_comprobante">
                                    </td>
                                    <td>

                                        <span class="codigo-tabla-sunat">
                                            <select [(ngModel)]="de.tipo_comprobante">
                                                <option *ngFor="let a of tabla_10; let i = index" [ngValue]="a">{{a.codigo}}
                                                    - {{a.descripcion}} </option>
                                            </select>
                                        </span>


                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.serie_comprobante">
                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.nro_comprobante">
                                    </td>
                                    <td>

                                        <span class="codigo-tabla-sunat">
                                            <select [(ngModel)]="de.tipo_doc_cliente">
                                                <option *ngFor="let a of tabla_2; let i = index" [ngValue]="a">{{a.codigo}}
                                                    - {{a.descripcion}} </option>
                                            </select>
                                        </span>

                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.nro_doc_cliente">
                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.razon_social_cliente">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.valor_facturado_expor">
                                    </td>

                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.base_imponible_operacion_gravada">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.importe_total_operacion_exonerada">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.importe_total_operacion_inafecta">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.isc">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.igv_ipm">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.otros_tributos_cargos">
                                    </td>
                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.importe_total_comprobante">
                                    </td>

                                    <td>
                                        <input class="" required type="number" [(ngModel)]="de.tipo_cambio">
                                    </td>

                                    <td>
                                        <input class="" required type="date" [(ngModel)]="de.fecha_documento_modifica">
                                    </td>
                                    <td>
                                        <span class="codigo-tabla-sunat">
                                            <select [(ngModel)]="de.tipo_documento_modifica">
                                                <option *ngFor="let a of tabla_10; let i = index" [ngValue]="a">{{a.codigo}}
                                                    - {{a.descripcion}} </option>
                                            </select>
                                        </span>
                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.serie_documento_modifica">
                                    </td>
                                    <td>
                                        <input class="" required type="text" [(ngModel)]="de.nro_documento_modifica">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>



        </div>




        <div *ngIf="panelListaBeanSelected" class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lista de Libros de Ventas</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">

                        <div class="row bg-teal tabla-cabecera-botones">
                            <div class="col-md-12">
                                <h5>EXISTEN :{{totalLista}} EN TOTAL</h5>
                            </div>
                            <div class="col-md-2">
                                <button (click)="paginaAnterior()" class="btn btn-primary btn-block">
                                    <i class="fa fa-backward fa-fw ic-dfa"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <label>Del {{inicio}} al {{fin}}</label>
                            </div>

                            <div class="col-md-2">
                                <button (click)="paginaSiguiente()" class="btn btn-primary btn-block">
                                    <i class="fa fa-forward fa-fw ic-dfa"></i>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-5">
                                    <label> Tamaño Pagina</label>
                                </div>
                                <div class="col-md-4">
                                    <select name="txtTamPagina" class="form-control" [(ngModel)]="tamPagina">
                                        <option [ngValue]="10">10</option>
                                        <option [ngValue]="15">15</option>
                                        <option [ngValue]="20">20</option>
                                        <option [ngValue]="30">30</option>
                                        <option [ngValue]="100">100</option>
                                        <option [ngValue]="500">500</option>
                                        <option [ngValue]="1000">1000</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class=" table-responsive tabla-dfa">
                            <table class="table table-condensed">
                                <thead>
                                    <tr class="bg-teal tam-cabecera">
                                        <th>N°</th>
                                        <th>ACCION</th>
                                        <th>ACCION</th>
                                        <th>ACCION</th>
                                        <th>ACCION</th>
                                        <th>ID LIBRO VENTA</th>
                                        <th>TITULO</th>
                                        <th>PERIODO</th>
                                        <th>PERIODO FECHA</th>
                                        <th>RUC</th>
                                        <th>RAZON SOCIAL</th>
                                        <th>ID EMPRESA</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let obj of libros_ventas;let j = index" class="bg-cyan tam-cuerpo">
                                        <td>{{inicio+j}}</td>
                                        <td>
                                            <button (click)="sincronizar(obj)" class="btn btn-primary btn-block">
                                                <i class="fa fa-cogs fa-fw ic-dfa"></i>Sincronizar
                                            </button>
                                        </td>
                                        <td>
                                            <button (click)="eliminar(obj)" class="btn btn-primary btn-block">
                                                <i class="fa fa-trash fa-fw ic-dfa"></i>Eliminar
                                            </button>
                                        </td>
                                        <td>
                                            <button (click)="abrirPanelEditar(obj)" class="btn btn-primary btn-block">
                                                <i class="fa fa-plus-square fa-fw ic-dfa"></i>Editar
                                            </button>
                                        </td>
                                        <td>
                                            <button (click)="generarReporteLibro(obj)" class="btn btn-primary btn-block">
                                                <i class="fa fa-file-excel-o fa-fw ic-dfa"></i>Reporte
                                            </button>
                                        </td>



                                        <td>{{obj.id_conta_libro_venta}}</td>
                                        <td>{{obj.titulo}}</td>
                                        <td>{{obj.periodo}}</td>
                                        <td>{{obj.periodo_fecha}}</td>
                                        <td>{{obj.ruc}}</td>
                                        <td>{{obj.razon_social}}</td>
                                        <td>{{obj.id_empresa}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>

</div>